<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectCampusRide"
        tools:targetApi="31">
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".view.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MatchActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".view.NotificationsActivity"/>
        <activity android:name=".view.ProfileActivity"/>
        <activity android:name=".view.DriverMainActivity"/>
        <activity android:name=".view.CreateRideActivity"/>
        <activity android:name=".view.DriverRidesActivity"/>
        <activity android:name=".view.PassengerMainActivity"/>
        <activity android:name=".view.MainMenuActivity"/>
        <activity android:name=".view.MyRidesActivity"/>
        <activity android:name=".RateDriverActivity"/>
        <activity android:name=".view.SearchRideActivity"/>
        <activity android:name=".view.SignUp"/>

    </application>

</manifest>
